<% if object.errors.any? %>
  <h3> I could not save your form </h3>
  <ul>
  <% object.errors.full_messages.each do |error_message| %>
    <li>
      <%= error_message %>
    </li>
  <% end %>
  </ul>
<% end %>


